<div id="head-image" class="fullscreen">
	<div class="text-vcenter">
		<h1 class="head-text">WallTalk connects <br>grandparents &amp; (grand)children.</h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
		<p class="home-paragraph">Lumbersexual retro heirloom flexitarian vinyl. Keffiyeh next level Pitchfork dreamcatcher. Biodiesel kogi ennui cronut Pinterest, vegan gastropub kitsch craft beer. Organic vinyl Odd Future, aesthetic jean shorts keffiyeh stumptown vegan selvage lumbersexual street art Helvetica keytar roof party.</p>
	</div>
</div>

<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
		<div id="video"><iframe src="https://player.vimeo.com/video/46975286?color=02eded&amp;title=0&amp;byline=0&amp;portrait=0" width="580" height="326" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
	</div>
</div>

<div class="row steps">
	<div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
		<p class="home-paragraph">Signing up for WallTalk is really easy: in only 4 steps you are good to go! Just ask your grandkids to help you out - they surely know all about it!</p>
	</div>
</div>




<div class="row steps">
	<div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
		<p class="step-number">1.</p>
		<p class="step-paragraph">
			Make an account for your grandparent on Facebook.
		</p>
	</div>
</div>


<div class="row steps">
	<div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
		<p class="step-number uneven">2.</p>
		<p class="step-paragraph uneven">
			Become friends with your grandparent on Facebook, and make sure all other grandchildren
			become friends with your grandparent too :)
		</p>
	</div>
</div>


<div class="row steps">
	<div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
		<p class="step-number">3.</p>
		<p class="step-paragraph">
			Ask all grandchildren to sign up for WallTalk!
		</p>
		<p class="button-url"><a class="butts" href="static_pages/step1" role="button">Sign up as (grand)child</a>
		</p>
	</div>
</div>

<div class="row steps">
	<div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
		<p class="step-number uneven">4.</p>
		<p class="step-paragraph uneven">
			Now sign up your grandparent for WallTalk, and the fun can begin!
		</p>
		<p class="button-url"><a class="butts purple" href="static_pages/step1" role="button">Sign up as grandparent</a></p>
		</p>
	</div>
</div>

