<h1>Step 1: Create an account for your grandmother/grandfather on Facebook</h1> 
	<a href="http://www.facebook.com" target="_blank">www.facebook.com</a></p>

<%= link_to "Next page", "/signout", id: "sign_out" %>