<div id="head-imagechrome" class="fullscreen">
		<div class="row text-vcenter">
	<div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
		<%= image_tag('use-chrome.png', :width => '100') %>
		<h1 class="head-textchrome">We're sorry. WallTalk is only supported by the newest Google Chrome Browser. You can download Google Chrome <a id="chrome-link" href="https://www.google.com/chrome/browser/desktop/index.html">here.</a></h1>
	</div>
</div>