<!-- Facial recognition -->
<div id="content">
	<input class="btn" type="button" value="wait, loading video" disabled="disabled" onclick="" id="startbutton"></input>
	<div id="container">
		<video id="videoel" width="400" height="300" preload="auto" loop>
		</video>
		<canvas id="overlay" width="400" height="300"></canvas>
	</div>
	<canvas id="sketch" width="400" height="300"></canvas>
</div>

<!-- Projection Initializer -->
<% if !current_user %>
	
	<div class="fullscreen">
		<div class="row text-vcenter">
	<div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
		<h1 class="head-textchrome"><%= link_to "Register for application or sign in", '/static_pages/home#grandparent', id: 'register-link' %></h1>
	</div>
</div>


	
<% else %>
	<p id="num"><%= current_user.friends.count %></p>
	<div id="initializeDiv"></div>
	<div id="partial_for_friend_and_message"></div>
<% end %>

